{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content%}

<div class="container">
    <div class="row">
        <div class="col my-auto">
            <div class="rounded-4 border border-2 border-success p-3 position-absolute top-50 start-50 translate-middle" id="home-page">
                <div class="rounded-4 border border-2 border-success p-3">
                    <h1 class="display-4 logo-font text-black">
                        The new collections are here
                    </h1>
                    <div class="my-2">
                        <h4>
                            <a href="" class="shop-now-button btn btn-ls rounded-0 text-uppercase py-3">Shop Now</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}