{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content%}

<div id="home-page" class="container h-auto w-auto">
    <div class="row">
        <div class="col my-auto">
            <div class="rounded-4 border border-2 border-success bg-light p-3">
                <h1 class="display-4 logo-font text-black">
                    My newest art collection is now here!
                </h1>
                <div class="my-2 border border-4">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-ls rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
            <div class="rounded-4 border border-2 border-success bg-light p-3 my-2">
                <p>Sign up to my newsletter for all the latest news and events.</p>
                <div class="my-2 border border-4">
                    <h4>
                        <a href="" class="btn btn-ls rounded-0 text-uppercase py-3">Sign Up Here!</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}