{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content%}

<div class="overlay"></div>
<div id="home-page" class="container h-auto w-auto">
    <div class="row">
        <div class="col my-auto">
            <div class="rounded-4 border border-2 border-success p-3">
                <hr>
                <h2 class="logo-font mb-4">Testimonials</h2>
                <hr>
                {% if request.user.is_authenticated %}
                    <p> Click the button below to make your own testimonial!</p>
                    <div class="row text-right mt-1 m-2">
                        <a href="{% url 'add_testimonials' %}" class="btn btn-primary btn-outline-black rounded-0 mt-5 w-25">
                            <span class="text-capitalized">Create a testimonial!</span>
                        </a>
                    </div>
                {% endif %}
                {% for t in testimonies %}
                    <hr>
                    <div class="row">
                        <strong>{{ t.name }} - {{t.date}}</strong>
                        <p>Rating: {{ t.rating }}/5 </p>
                    </div>
                    <div class="row p-3">
                        {{ t.description }}
                    </div>
                    <hr>
                    {% if request.user == t.creator %}
                        <small class="ml-3">
                            <a href="{% url 'edit_testimonials' t.id %}">Edit Testimony</a>
                            <a class="text-danger" href="{% url 'delete_testimonials' t.id %}">Delete</a>
                        </small>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}