{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container rounded-4 border border-3 border-success p-3">
    <div class="row">
        <div class="col">
            <hr>
            <h1 class="logo-font mb-4">Order Information</h1>
            <hr>
            <p>Thank you! Your order details will be provided down below. A confirmation email will also be sent to {{order.email}} </p>
        </div>

        <div class="row">
          <div class="col-12">
            <h2 class="mb-1 mt-0 small text-muted">Order Info:</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <strong>Order Number:</strong>
          </div>
          <div class="col-6">
            {{order.order_number}}
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <strong>Order Date:</strong>
          </div>
          <div class="col-6">
            {{order.date}}
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <h2 class="mb-1 mt-0 small text-muted">Order Details:</h2>
          </div>
        </div>

      {% for item in order.lineitems.all %}

      <br>
      <div class="row">
          <div class="col-6">
              <p class="mb-0 text-black font-weight-bold"><strong>Product Name:</strong></p>
          </div>
          <div class="col-6 text-right">
              <p>{{item.product.name}} x {{ item.quantity }} @ ${{ item.product.price }} each</p>
          </div>
      </div>
      <br>

      {% endfor %}
      
      <div class="row">
        <div class="col-12">
          <h2 class="mb-1 mt-0 small text-muted">Delivering To:</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <strong>Name:</strong>
        </div>
        <div class="col-6">
          {{order.full_name}}
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <strong>Phone Number:</strong>
        </div>
        <div class="col-6">
          {{order.phone_number}}
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <strong>Address 1:</strong>
        </div>
        <div class="col-6">
          {{order.street_address1}}
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <strong>Address 2:</strong>
        </div>
        <div class="col-6">
          {{order.street_address2}}
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <strong>Postcode:</strong>
        </div>
        <div class="col-6">
          {{order.postcode}}
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <strong>Town/City:</strong>
        </div>
        <div class="col-6">
          {{order.town_or_city}}
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h2 class="mb-1 mt-0 small text-muted">Billing Info:</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <strong>Order Total:</strong>
        </div>
        <div class="col-6">
          {{order.order_total}}
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <strong>Delivery:</strong>
        </div>
        <div class="col-6">
          {{order.delivery_cost}}
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <strong>Grand Total:</strong>
        </div>
        <div class="col-6">
          {{order.grand_total}}
        </div>
      </div>
    </div>
    <div class="submit-button text-right mt-1 mb-2">                    
      <a href="{% url 'home' %}" class="btn btn-primary btn-outline-black rounded-0 mt-5">
          <span class="icon">
              <i class="fas fa-chevron-left"></i>
          </span>
          <span class="font-weight-bold">Thank you for shopping!</span>
      </a>
    </div>
  </div>
{% endblock%}
