/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }

  *{
    margin: 0px;
    padding: 0px; 
    outline: none;
    border: 0px;
  }

body {
/* Margin bottom by footer height */
margin-bottom: 100px;
background: url('/media/home_page.jpg') no-repeat center center fixed;
background-size:auto;
clear: both;
height: calc(100vh - 164px);
}

footer{
position: absolute;
bottom: 0;
width: 100%;
/* Set the fixed height of the footer here */
height: 100px;
line-height: 50px; /* Vertically center the text there */
background: #AADDDD;
padding: 3em;
}

header {
    background: #DFFFD6;
    width: 100%;
}

.social_media {
  padding-top: 20px;
}

.mobile_icon{
  padding-left: 5px;
}

.mobile-search{
  padding: 10px;
}

.product-dropdown{
  background-color: #DFFFD6;
  padding-right: 5px;
  font-size: 20px;
}
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
body > .container-fluid,
body > .container {
padding: 20px 15px 0;
}

footer > .container-fluid,
header > .container-fluid,
footer > .container,
header > .container {
padding-right: 15px;
padding-left: 15px;
}
  
  /* Above code taken from a bootstrap preset */

  .social_media{
    display: inline-block;
    text-align: left;
  }

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #d8c7b2;;
    z-index: -1;
}

.border-success,
.btn-success{
    border-color: #202A25 !important;
}

.btn-primary{
    background-color: #5f4bb6 !important;
    border-color: #5f4bb6 !important;
}