<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}" id="products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=upvotes&direction=desc" class="dropdown-item ">By Upvotes</a>
                <a href="{% url 'products' %}?sort=downvotes&direction=desc" class="dropdown-item ">By Downvotes</a>
                <a href="{% url 'products' %}?sort=art_collection&direction=asc" class="dropdown-item ">By Collection</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}" id="products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="products-link">
                <a href="{% url 'products' %}?art_collection=summer_collection" class="dropdown-item">Summer</a>
                <a href="{% url 'products' %}?art_collection=winter_collection" class="dropdown-item ">Winter</a>
                <a href="{% url 'products' %}?art_collection=spring_collection" class="dropdown-item ">Spring</a>
                <a href="{% url 'products' %}?art_collection=autumn_collection" class="dropdown-item ">Autumn</a>
            </div>
        </li>
    <ul>
</div>