<div class="toast-container custom-toast position-fixed bg-white bottom-0 end-0 p-3 border border-2 border-info" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast"></div>
    <div class="w-100 toast-capper"></div>
    <div class="toast-header">
      <strong class="me-auto">Success!</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast-container" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{message}}
    </div>
  </div>